.avatar {
  max-height: 50px;
  max-width: 50px;
}
textarea {
  height: 500px;
}
.answer {
  height: 100px;
}

input#search_query {
  color: #37474f;
  background: white;
  height: 25px;
}

#display_results {
  position: relative;
  background: white;
  border: 2px solid #ee6e73;
  text-align: left;
  float: right;
  margin-right: -2px;
  top: -45px;
  width: 198px;
  padding-left: 2px;
  z-index: 999;
}

.search {
  background: white;
  width: 100px;
}
